<div class="sa-layout">
	[sagicc_sidebar]

	<main class="sa-main">
		<div class="sa-main-full">
			<!-- wp:group {"tagName":"header","className":"mb-8"} -->
			<header class="sa-header">
				<!-- wp:post-title {"level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"900"}},"className":"sa-header-title"} /-->
			</header>
			<!-- /wp:group -->

			<div class="editor-content editor-content-full">
				<!-- wp:post-content {"layout":{"type":"full"}} /-->
			</div>
		</div>
	</main>
</div>
