<div class="flex min-h-screen bg-white text-gray-900">
	[sagicc_sidebar]

	<main class="flex-1 p-8 lg:p-12 overflow-y-auto bg-white">
		<div class="w-full">
			<!-- wp:group {"tagName":"header","className":"mb-8"} -->
			<header class="mb-8 font-sans">
				<!-- wp:post-title {"level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"900"}},"className":"text-4xl font-black text-secondary tracking-tighter"} /-->
			</header>
			<!-- /wp:group -->

			<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
		</div>
	</main>
</div>
